.one input{
    margin-top: 5px;
}
.one select{
    margin-top: 5px;
}
.two{
    display: flex; 
    margin-top: -42px; 
    margin-left: 250px;
}
.two input{
    margin-top: 5px; 
    background-color: rgb(191, 211, 207);
    border: 1px;
    border-color:rgb(191, 211, 207) ;
    padding: 3px;
}